<style>
  h1,
  h2,
  h3, img {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-family: "Cookie";
    font-size: 50px;
    color: red;
  }

  a {
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
  }

  img {
    margin: auto;
  }

  </style>

<h1>Welkom op de startpagina van mijn eerste Angular-app!</h1>

<h2>Mijn volledige naam is {{volledigenaam}} en ik ben bezig {{cursus}} te leren. </h2>

<h3>Dat doe ik met deze app, genaamd {{title}}. </h3>
<h3>Via de knoppen vind je nog meer informatie over mij. </h3>

<a routerLink='/marcel'>Over mij</a>
<a routerLink='/hobbys'>Hobby's</a>

<img src="assets/img/foto.png">

<router-outlet></router-outlet>